.clients {
    background: var(--white-color);
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (max-width: 1199px) {
        font-size: 14px;
        line-height: 1.17;
        }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.18;
        }
}

.clients__list {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
                .clients__item {
                        height: 92px;
                        border: 1px solid #afb1b8;
                        border-radius: 4px;
                        background-color: var(--white-color);
                    @media screen and (max-width: 767px) {
                        flex-basis: calc((100% - 30px)/2);
                            &:nth-child(odd) {
                            margin-right: var(--card-set-gap);
                            }
                            &:not(:nth-last-child(-n + 2)) {
                            margin-bottom: var(--card-set-gap);
                            }
                        }
        
                    @media screen and (min-width: 768px) {
                        flex-basis: calc((100% - 60px)/3);
                            &:not(:nth-child(3n)) {
                            margin-right: var(--card-set-gap);
                            }
                            &:not(:nth-last-child(-n + 3)) {
                            margin-bottom: var(--card-set-gap);
                            }
                        }
        
                    @media screen and (min-width: 1200px) {
                        width: 170px;
                            &:not(:last-child) {
                            margin-right: var(--card-set-gap);
                            }
                        }
                }
}
    /*.clients__item {
            width: 170px;
            height: 92px;
            border: 1px solid #afb1b8;
            border-radius: 4px;
            background-color: var(--white-color);
            margin-bottom: var(--card-set-gap);}
        }*/


/*.clients__item {

    @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 30px)/2);
        &:nth-child(odd) {
            margin-right: var(--card-set-gap);}

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: var(--card-set-gap);}
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px)/3);
        &:not(:nth-child(3n)) {
            margin-right: var(--card-set-gap);}

        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: var(--card-set-gap);}
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
        &:not(:last-child) {
            margin-right: var(--card-set-gap);}
    }
}*/

.clients__link {
    width: 100%;
    height: 100%;
    @extend %align-list;
    justify-content: center;
    &:hover,
        &:focus {border: 1px solid var(--accent-color);
            fill: var(--accent-color);}
    .clients__icon {
            fill: var(--icon-color);
        }
                &:hover,
                &:focus {fill: var(--accent-color);}
}