.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--home-color);
}

.footer-common {
    display: flex;
    align-items: baseline;
}

.footer>.container>.footer__block {
    display: inline-block;
    width: 231px;
}
.logo--light {
    color: var(--white-color);
}
.footer__logo {
    margin-right: 84px;
}

.footer__contacts li {
    padding: 0;
}

.footer__contacts li:not(:last-child) {
    margin-bottom: 9px;
}

.footer__address {
    color: var(--white-color);
}

.footer__mail,
.footer__tel {
    color: rgba(255, 255, 255, 0.6);
}

.footer__block a:hover,
.footer__block a:focus {
    color: var(--accent-color);
}

.social {
    width: 231px;
    height: 44px;
    margin-left: 70px;
    .social__list {
            display: flex;
            margin-top: 20px;
        }
                .social__item {
                    @extend %align-list;
                    justify-content: center;
                    width: 44px;
                    height: 44px;
                }
                                .social__link {
                                    @extend %align-list;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    background-color: rgba(255, 255, 255, 0.1);
                                    fill: var(--white-color);
                
                                    &:hover,
                                    &:focus {
                                        background-color: var(--accent-color);
                                        fill: var(--white-color);
                                    }
                                }
}

.social__item:not(:last-child) {
    margin-right: 10px;
}




