.team {
    background: var(--fon-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    &-cont {padding-left: auto;
        padding-right: auto;}
    &__item {display: flex;
        flex-wrap: wrap;
        padding: 0;}
}

.team__master {
    padding: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
    &+& {margin-left: var(--card-set-gap)}
}

.master {
    background: var(--white-color);
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);
    border-radius: 0px 0px 4px 4px;
    &__list {display: flex;
        justify-content: center;
        margin-top: 16px;
        color: var(--common-text-color);}
    &__item {width: 44px;
        height: 44px;}
    &__link {@extend %align-list;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--white-color);
        fill: var(--icon-color);
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--white-color);
        }} 
}

.master__item+.master__item {
    margin-left: 10px;
}
