/*.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}
%align-list {
    display: flex;
    align-items: center;
}
%animation {transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
*/

body {
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 120px) {
        width: 1200px;
    }
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
            max-width: 450px;
        } 
    @media screen and (min-width: 768px) {
            max-width: 738px;
        }
    @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
}

.sections {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

%align-list {
    display: flex;
    align-items: center;
}

%animation {
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}