:root {
    --title-text-color: #212121;
    --common-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --main-color: #e5e5e5;
    --home-color: #2f303a;
    --contakt-color: #757575;
    --fon-color: #f5f4fa;
    --icon-color: #AFB1B8;
    --card-set-gap: 30px;
}
@mixin font-text ($fs, $fw, $lh, $ls) {
    font-size: $fs; 
    font-weight: $fw; 
    line-height: $lh; 
    letter-spacing: $ls;}
    

body {
    @include font-text(14px, null, nuull, 0.03);
    font-family: 'Roboto', sans-serif;
    color: var(--common-text-color);
    background: var(--white-color);
 }

.hero__title {
    margin: 0 auto;
    color: var(--white-color);
    @include font-text(42px, 900, 1.61, 0.06);
    text-align: center;
    text-transform: uppercase;
    flex-shrink: 0;
    @media screen and (min-width: 1200px) {
        @include font-text(44px, 900, 1.36, 0.06);}
}

.about__title {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: var(--title-text-color);
    @include font-text(36px, 700, 1.16, 0.03);
    text-align: center;
    }

.about__text {
    position: absolute;
    display: flex;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    @include font-text(14px, 700, 1.14, 0.03);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    flex-shrink: 0;
}

.details__title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    @include font-text(14px, 700, 1.14, 0.03);
    text-transform: uppercase;
    flex-shrink: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
            text-align: left;
        }
}

.team__title,
.clients__title {
    margin-bottom: var(--card-set-gap);
    margin-left: auto;
    margin-right: auto;
    color: var(--title-text-color);
    @include font-text(28px, 700, 1.18, 0.03);
    text-align: center;
    flex-shrink: 0;
    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
        }
}

.master__person {
    margin-bottom: 10px;
    color: var(--title-text-color);
    @include font-text(16px, 500, 1.18, 0.03);
    text-align: center;
    flex-shrink: 0;
}

.footer__contacts {
    margin-top: 20px;
    font-style: normal;
    @include font-text(14px, null, 1.71, 0.03);
}

.social__text,
.connect__text {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    font-style: normal;
    @include font-text(14px, 700, 1.14, 0.03);
    text-transform: uppercase;
    flex-shrink: 0;
}